section.container
    .row.justify-content-center

        .col-custom

            ul.nav.navbar
                // li.nav-item.navbar-brand.mx-0
                //  a(href = '/').nav-link #[img(src = require('../img/vinci-logo-sm.svg') alt = 'vinci-logo')]

                each page in pages
                    li.nav-item.d-none.d-xl-block
                        if (page.title === "Exhibition")
                            a(href="http://10.121.14.11:8088/").nav-link= page.title
                            //- .nav-link= page.title
                        else if(page.url === active.url)
                            .active
                            a(href= page.url + '.html').nav-link.disabled= page.title
                        else
                            a(href= page.url + '.html').nav-link= page.title

                li.nav-item.dropdown.d-xl-none.navbar-light
                    a(data-bs-toggle = 'dropdown' href = '#' role = 'button' aria-expanded = 'false').nav-link.dropdown-toggle #[span.navbar-toggler-icon.me-2] Navigation 
                    ul.dropdown-menu
                        each page in pages
                            li
                                if (page.title === "Exhibition")
                                    a(href="http://10.121.14.11:8088/").dropdown-item= page.title
                                //- if (page.title === "Exhibition")
                                //-     a(href= page.url).dropdown-item= page.title
                                //- else 
                                else if(page.url === active.url)
                                    .active
                                    a(href= page.url + '.html').dropdown-item.disabled= page.title
                                else
                                    a(href= page.url + '.html').dropdown-item= page.title
