extends partials/site

block content

  section.container  

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Organizing Committee')

        //- dt TBA
        
        dl.conf-chairs

          dt General Co-chairs
          dd Roger Malina #[br]
            small The University of Texas at Dallas, USA
          dt
          dd Kang Zhang #[br]
            small Hong Kong University of Science and Technology (Guangzhou), China            

          dt Program Co-chairs
          dd Wei Zeng #[br]
            small Hong Kong University of Science and Technology (Guangzhou), China
          dt
          dd Günter Wallner #[br]
            small Johannes Kepler University Linz, Austria

          dt Publicity Chairs
          dd Rongrong Chen #[br]
            small BNU-HKBU United International College, China 
          //- dt 
          //- dd XXX, XXX #[br]
          //-   small from Euro

          dt Publication Chair
          dd Jiazhi Xia #[br]
            small Central South University, China
            
          dt Art Paper Chair
          dd Varvara Guljajeva #[br]
            small Hong Kong University of Science and Technology (Guangzhou), China

          dt Art Gallery Chair 
          dd Rui Hu #[br]
            small Hong Kong University of Science and Technology (Guangzhou), China

          dt Young Talent Summit Chair
          dd Shenghui Cheng #[br]
            small WestLake University, China

          dt Local Chair 
          dd Rui Hu #[br]
            small Hong Kong University of Science and Technology (Guangzhou), China

          dt Web Chairs
          dd Tiancheng Liu #[br]
            small Hong Kong University of Science and Technology (Guangzhou), China
          dt 
          dd Qing Shi #[br]
            small Hong Kong University of Science and Technology (Guangzhou), China 

    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Program Committee')
        
        //- dt TBA
        p
          //- | More information will follow in the coming days and weeks.

        dl.conf-chairs

            dt IPC Members 

            dd Hamid 	Mansoor		#[br] #[small VIXI Lab, University of Victoria ]
            dt
            dd Evgheni	Polisciuc	#[br] #[small Center for Informatics and Systems of the University of Coimbra ]
            dt 
            dd Ramon Sangüesa	#[br] #[small Technical University of Catalonia]
            dt 
            dd João Miguel Cunha	#[br] #[small University of Coimbra]
            dt
            dd Graham	Wakefield #[br] #[small York University]
            dt
            dd Haru Hyunkyung	Ji #[br] #[small OCAD University]
            dt
            dd Carlos	Isaac #[br] #[small Tec de Monterrey]
            dt
            dd Ulrike	Kuchner #[br] #[small University of Nottingham]
            dt
            dd Younghui	Kim #[br] #[small Hongik University]
            dt
            dd Chenhui Li #[br] #[small East China Normal University]
            dt
            dd Ming	Meng #[br] #[small South China Normal University]
            dt
            dd Ying	Zhao #[br] #[small central south university]
            dt
            dd Xiaodi	Huang #[br] #[small School of Mathematics, Computing and Engineering, Charles Sturt University, Australia]
            dt
            dd Aidong	Lu #[br] #[small UNC Charlotte]
            dt
            dd Andreas	Kerren #[br] #[small Linköping University]
            dt
            dd Gualtiero	Volpe #[br] #[small InfoMus-DIST-University of Genoa]
            dt
            dd Takayuki	Itoh #[br] #[small Ochanomizu University]
            dt
            dd Quang Vinh	Nguyen #[br] #[small Western Sydney University]
            dt
            dd Yang	Shi #[br] #[small Central South University, China]
            dt
            dd Willy	Scheibel #[br] #[small ]
            dt
            dd Gennaro	Costagliola	 #[br] #[small Dipartimento di Informatica, Università di Salerno]
            dt
            dd Uwe	Kloos #[br] #[small Reutlingen University]
            dt
            dd Hongfeng	Yu #[br] #[small University of Nebraska-Lincoln]
            dt
            dd Lingyun	Yu #[br] #[small Xi'an Jiaotong-Liverpool University]
            dt
            dd Xiaojiao	Chen #[br] #[small Zhejiang University]
            dt
            dd Yuxin	Ma #[br] #[small Southern University of Science and Technology]
            dt
            dd Yun	Wang #[br] #[small Microsoft Asia]
            dt
            dd Shigeo	Takahashi #[br] #[small University of Aizu]
            dt
            dd Patrick	Adelberger #[br] #[small Johannes Kepler University Linz]
            dt
            dd Kyungho	Lee #[br] #[small Ulsan National Institute of Science and Technology]
            dt
            dd Rebecca Ruige	Xu #[br] #[small Syracuse University]
            dt
            dd Robert	Twomey #[br] #[small University of Nebraska-Lincoln]
            dt
            dd Moises	Mañas #[br] #[small Universitat Politècnica de València]
            dt
            dd Kristi	Kuusk #[br] #[small Estonian Academy of Arts]
        //-     dt
        //-     dd Ayush Kumar			#[br] #[small Harvard Medical School ]
        //-     dt
        //-     //- dd Denis Gracanin		#[br] #[small Virginia Tech ]
        //-     //- dt
        //-     dd Gennaro Costagliola	#[br] #[small Università di Salerno ]
        //-     dt
        //-     dd Gualtiero Volpe		#[br] #[small InfoMus-DIST-University of Genoa ]
        //-     dt
        //-     dd Hamid Mansoor        #[br] #[small Worcester Polytechnic Institute, United States ]
        //-     dt
        //-     dd Hongfeng Yu			#[br] #[small University of Nebraska-Lincoln ]
        //-     dt
        //-     dd Kang Zhang			#[br] #[small The University of Texas at Dallas ]
        //-     dt
        //-     dd Michael Burch		#[br] #[small University of Applied Sciences]
        //-     dt
        //-     dd Paul Bourke			#[br] #[small University of Western Australia ]
        //-     dt
        //-     dd Paul Rosenthal		#[br] #[small Chermnitz University of Technology ]
        //-     dt
        //-     dd Paolo Bottoni		#[br] #[small Sapienza University of Rome ]
        //-     dt
        //-     dd Patrick Adelberger	#[br] #[small Johannes Kepler University Linz, Austria ]
        //-     dt
        //-     dd Quang Vinh Nguyen	#[br] #[small Western Sydney University ]
        //-     dt
        //-     dd Quynh Quang Ngo		#[br] #[small University of Stuttgart ]
        //-     dt
        //-     //- dd Robert S Laramee		#[br] #[small Swansea University ]
        //-     //- dt
        //-     dd Shigeo Takahashi		#[br] #[small University of Aizu ]
        //-     dt
        //-     dd Steffen Frey			#[br] #[small University of Groningen ]
        //-     dt
        //-     dd Stephen Brooks		#[br] #[small Dalhousie University ]
        //-     dt
        //-     dd Stephan Diehl		#[br] #[small University Trier ]
        //-     dt
        //-     dd Takayuki Itoh		#[br] #[small Ochanomizu University ]
        //-     dt
        //-     //- dd Tomasz Bednarz		#[br] #[small UNSW Art & Design, CSIRO Data61 ]
        //-     //- dt
        //-     dd Uwe Kloos			#[br] #[small Reutlingen University ]
        //-     dt
        //-     dd Willy Scheibel		#[br] #[small Hasso Plattner Institute, University of Potsdam ]
        //-     dt
        //-     dd Xiaodi Huang			#[br] #[small Charles Sturt University, Australia ]
        //-     dt
        //-     dd Ying Zhao			#[br] #[small Central South University ]
        //-     dt
