extends partials/site

block content

    section.container

        .row.justify-content-center
            .col-custom.col-padding

                +h2('Keynote')

                //- dt TBA
                //- p 
                //-   |More information will follow in the coming days and weeks.
                h3 Prof. Dr. Nadia Magnenat Thalmann
                p
                    | MIRALab sarl, Miralab-University of Geneva, Switzerland. thalmann@miralab.ch
                    //- br
                    //- | #[a(href = 'https://personal.utdallas.edu/~kzhang/') Find out more about Kang Zhang.]

                h3 AI for good: the use of a social humanoid robot to improve quality of life.

                p
                    | Nadine social robot is a humanoid robot that has worked in various companies and enterprises. She can show emotions, recognize people, remember facts and some situations. She can speak many languages and have a natural conversation.
                    | In this talk, we would like to describe some research areas using vision and deep learning that allows Nadine to be able to naturally interact with others. We will demonstrate what a social robot can do today, and how it can express itself.  In this presentation, we will show 3 case studies: Nadine supporting art education at the ARTSCIENCE MUSEUM in Singapore, Nadine working in AIA insurance company along with customers agents, and Nadine working at Bright hill elderly home in Singapore to support elderly in their daily activity.  In conclusion, we will discuss how these social robots could contribute to AI for good. 



                img(src = require('./img/photos/VVS-NTULink_ProfNadia-123_Select(HI)_1.jpg') alt = 'Nadia Magnenat Thalmann').keynote-portrait

                h3 Biography

                p
                    | Professor Thalmann is the Director of MIRALab at the University of Geneva, a ground-breaking research lab she founded in 1989 developing Virtual Humans and Social Robots. From 2019 to 2022, she was the Director of the research Center Beingthere and the Research Institute IMI in Nanyang Technological University (NTU) in Singapore. 
                    | During her illustrious career, she participated in more than 50 European research projects, helping MIRALab to develop revolutionising interdisciplinary research in computer graphics, computer animation, and virtual worlds and producing impactful work that synergises art, fashion, computer graphics and cultural heritage simulations. Some recent work includes a 3D see through virtual patient. In NTU, Singapore, she revolutionized social robotics by unveiling the first social robot Nadine that can have mood and emotions and remember people and actions. Besides having bachelor's and master's degrees in disciplines such as psychology, biology, chemistry and computer science, Professor Thalmann completed her PhD in quantum physics at the University of Geneva. She has received honorary doctorates from Leibniz University of Hannover and the University of Ottawa in Canada and several prestigious other awards as the Humboldt Research Award in Germany and the Eurographics Career Award. She is the Editor-in-Chief of #[i The Visual Computer journal] published by Springer, co-Editor-in-Chief of #[i Computer Animation and Virtual Worlds journal] published by Wiley. She is a life member of the Swiss Academy of Engineering Sciences. More can be found on her achievements in #[a(href = "https://scholar.google.com/citations?user=zSucrdMAAAAJ&hl=en") google scholar] and #[a(href = "https://en.wikipedia.org/wiki/Nadia_Magnenat_Thalmann") wikipedia]. 

        .row.justify-content-center
            .col-custom.col-padding

                +h2('Keynote') 

                h3 Prof. Dr. Baoquan Chen
                p
                    |  Peking University.
                    //- br
                    //- | #[a(href = 'https://ppgd.eba.ufrj.br/en/docente/974/') Find out more about Doris Kosminsky.]

                h3 Visual Communication: Tools, Domain Motivation, and Citizen Responsibility 

                p 
                    | With the advent of AIGC, new tools for visual content generation are becoming ever more powerful and prevalent. From these tools to a valuable visual communication, it usually requires additionally either a strong domain motivation, or a conscious citizen’s responsibility. In this talk, I will use examples to illustrate the interaction among these elements. I will also advocate for teaching these basic elements as a fundamental education in the new era of AI empowerment. 

                img(src = require('./img/photos/cbq.jpg') alt = 'Doris Kosminsky').keynote-portrait

                h3 Biography

                p
                    | Baoquan Chen is a Professor of Peking University, where he is Associate Dean of the School of Artificial Intelligence. His research interests generally lie in computer graphics, computer vision, visualization, and human-computer interaction. He has published 200+ papers in international journals and conferences, including 50+ papers in ACM Transactions on Graphics (TOG)/SIGGRAPH/SIGGRAPH_Asia, and won several best paper awards in prestigious conferences, including SIGGRAPH Asia 2023, SIGGRAPH 2023 (Honorary Mention), and IEEE Visualization 2005. Chen has served as associate editor of ACM Transactions on Graphics and IEEE Transactions on Visualization and Graphics, conference steering committee member of ACM SIGGRAPH Asia and IEEE VIS, conference chair of SIGGRAPH Asia 2014 and IEEE Visualization 2005, as well as program chair/committee member of numerous conferences in the visualization and computer graphics fields. 
                p
                    | Chen served as the Chief Scientist of Beijing Advanced Innovation Center for Future Visual Entertainment, Beijing Film Academy (2016-2021). He is a guest professor of the School of Art, Peking University. Chen is the recipient of 2003 NSF CAREER award, 2004 McKnight Land-Grant Professorship at the University of Minnesota (Twin Cities), and 2014 Outstanding Outstanding Award of Chinagraph. Chen received an MS in Electronic Engineering from Tsinghua University, and a second MS and then PhD in Computer Science from the State University of New York at Stony Brook. For his contribution to spatial data visualization, he was elected IEEE Fellow in 2020. He was inducted to IEEE Visualization Academy in 2021. Web: (#[a(href = "http://baoquanchen.info") http://baoquanchen.info]).



        .row.justify-content-center
            .col-custom.col-padding

                +h2('Keynote') 

                h3 Prof. Dr. Doris Kosminsky
                p
                    |  Universidade Federal do Rio de Janeiro, Rio de Janeiro, Brazil.
                    //- br
                    //- | #[a(href = 'https://ppgd.eba.ufrj.br/en/docente/974/') Find out more about Doris Kosminsky.]

                h3 Transdisciplinary experiences in Data Visualization and beyond

                p 
                    | Data visualization (DataViz) is still a growing field in the frontiers of art, design, and computer science. For over 10 years, we, at the Visuality and Visualization Laboratory (LabVis), Federal University of Rio de Janeiro, have been involved in animated, interactive, and physical DataViz production on topics ranging from personal data, such as daily activities and feelings, to energy and environmental issues. Side by side with artistic creations, we have been stretching DataViz limits to include hypotheses exploration in the public health domain. These achievements have required a transdisciplinary approach which includes participation of graduate and undergraduate students, practice, and research.  Looking ahead, the recent advances in AI introduce new challenges in the DataViz field. 

                p
                    | In this talk, I will present examples of our production developed in LabVis and try to instigate a reflection on the changes AI might impose to DataViz. Can the notion of transdisciplinarity - where we learn in contact with other disciplines - help us find new possibilities for humans in visualization? What are the specific challenges to creativity in these processes?

                img(src = require('./img/photos/DK22-low.png') alt = 'Doris Kosminsky').keynote-portrait

                h3 Biography

                p
                    | Doris Kosminsky is an artist, designer, and curator working in visualization, information design and creative processes with the use of data. She is an associate professor at the Federal University of Rio de Janeiro (UFRJ) in the Department of Visual Communication Design at the School of Fine Arts. She also teaches in the Graduate Program in Visual Arts, and the Graduate Program of Design at the same university. She is the founder and coordinator of the Visuality and Visualization Laboratory (#[a(href = "labvis.eba.ufrj.br") labvis.eba.ufrj.br]), the first data visualization design lab in Brazil, created in 2010.
                p
                    | She publishes and lectures in the field. Among her main works are “Numerical Existence”, an art exhibition and book, the installations "Network of Us" and "Visualizing Visualizers", best paper at IEEE VIS 2019 for "Data Changes Everything: Challenges and Opportunities in Data Visualization Design Handoff”, as well as the recent big data visualization project "AMPLIA SAÚDE: Perinatal Observatory”, which explores the influence of air pollution on maternal and newborn health (#[a(href = "ampliasaude.org") ampliasaude.org]).



