extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Keynote')

        //- dt TBA
        //- p 
        //-   |More information will follow in the coming days and weeks.
        h3 Prof. Dr. Nadia Magnenat Thalmann
        p
          | MIRALab sarl, Miralab-University of Geneva, Switzerland.
          //- br
          //- | #[a(href = 'https://personal.utdallas.edu/~kzhang/') Find out more about Kang Zhang.]

        h3 Interactive assistive surgery with the support of a smart digital surgeon and a social robot
       
        p
          | There is a great need to train medical students in skin incision and sutures. This is one of the first surgical act that is required to be acquainted by all medical students around the planet.
          | As surgeons are very busy, we have proposed, in collaboration with the hospital of Geneva, a project named “the digital surgeon” to support students when they learn how to proceed to the cutting of the skin and doing suture. 
          | In our presentation, we will describe the situation of learning suture and skin as it is today. We will discuss how we could improve the situation by modelling a digital surgeon that will show on a screen the right gestures after analysis of the student’s gestures. Nadine social robot is used to communicate with the student and give explanation of what is the correct gesture. 
          | In a first step, we have created a dataset of postures and hand gestures. Then we have used and improved methods to recognize hand gestures, and postures using vision and machine learning methods. The digital surgeon is used to visualize the correct students’ gestures. The social robot Nadine is there as a tutor to speak using chat-gpt-3 and tell the students what is wrong. 
          | A few videos will be shown and discussion about further developments will be presented.



        img(src = require('./img/photos/VVS-NTULink_ProfNadia-123_Select(HI)_1.jpg') alt = 'Nadia Magnenat Thalmann').keynote-portrait

        h3 Biography

        p
          | Professor Thalmann is the Director of MIRALab at the University of Geneva, a ground-breaking research lab she founded in 1989 developing Virtual Humans and Social Robots. From 2019 to 2022, she was the Director of the research Center Beingthere and the Research Institute IMI in Nanyang Technological University (NTU) in Singapore. 
          | During her illustrious career, she participated in more than 50 European research projects, helping MIRALab to develop revolutionising interdisciplinary research in computer graphics, computer animation, and virtual worlds and producing impactful work that synergises art, fashion, computer graphics and cultural heritage simulations. Some recent work includes a 3D see through virtual patient. In NTU, Singapore, she revolutionized social robotics by unveiling the first social robot Nadine that can have mood and emotions and remember people and actions. Besides having bachelor's and master's degrees in disciplines such as psychology, biology, chemistry and computer science, Professor Thalmann completed her PhD in quantum physics at the University of Geneva. She has received honorary doctorates from Leibniz University of Hannover and the University of Ottawa in Canada and several prestigious other awards as the Humboldt Research Award in Germany and the Eurographics Career Award. She is the Editor-in-Chief of #[i The Visual Computer journal] published by Springer, co-Editor-in-Chief of #[i Computer Animation and Virtual Worlds journal] published by Wiley. She is a life member of the Swiss Academy of Engineering Sciences. More can be found on her achievements in #[a(href = "https://scholar.google.com/citations?user=zSucrdMAAAAJ&hl=en") google scholar] and #[a(href = "https://en.wikipedia.org/wiki/Nadia_Magnenat_Thalmann") wikipedia]. 




    .row.justify-content-center
      .col-custom.col-padding
        
    //-     +h2('Keynote') 

    //-     h3 Prof. Dr. Tobias Schreck
    //-     p
    //-       |  Institute of Computer Graphics and Knowledge Visualization, TU Graz.
    //-       br
    //-       | #[a(href = 'https://www.tugraz.at/institute/cgv/schreck/') Find out more about Tobias Schreck.]

    //-     h3 Visual Analytics for Industrial Data Analysis
        
    //-     p 
    //-       | Visual Analytics approaches combine interactive data visualizations with data analysis algorithms 
    //-       | to help domain experts to explore, understand and make sense of large and complex data sets. An 
    //-       | interesting, challenging field of application is the analysis of industrial data. In modern production 
    //-       | processes, increasingly large amounts of different kinds of data are collected, which need to be 
    //-       | understood, explored, and applied to support decision making and process improvements. We introduce a 
    //-       | number of key data analysis tasks in industrial data analysis, and discuss selected solutions we 
    //-       | developed in design studies together with industrial data analysis experts. The examples show how to 
    //-       | support tasks including anomaly detection in time-series data, correlation of patterns in end-of-line test
    //-       | data, and visual comparison of classifiers for test procedures. Besides the typical desktop workstation
    //-       | environment, we also discuss approaches based on immersive visualization and eye-tracking interactions 
    //-       | for support of visual data analysis tasks. We conclude the talk by discussing a number of future research challenges.
        
    //-     img(src = require('./img/photos/portrait-schreck.jpg') alt = 'portrait schreck').keynote-portrait

    //-     h3 Biography

    //-     p
    //-       | Tobias Schreck is a professor and head of the Institute of Computer Graphics and Knowledge Visualization at Graz 
    //-       | University of Technology, Austria. His research interests include visual analytics, information visualization, 
    //-       | and applied 3D object retrieval. He received his Ph.D. degree in computer science from the University of Konstanz, 
    //-       | Germany in 2006. Previously, he was an Assistant Professor with the University of Konstanz, and a Postdoc 
    //-       | researcher with the Technical University of Darmstadt, Germany. He serves as a Papers Co-Chair for the EG Conference
    //-       | on Visualization (EuroVis) 2022 and 2023, and he previously served as Associate Editor for IEEE TVCG 2018-2021, 
    //-       | and as Papers Co-Chair for IEEE VAST 2017 and 2018. Tobias Schreck is a scientific partner in the Austrian 
    //-       | FFG COMET Centre on Products and Production of the Future. He has led a number of research projects, and he 
    //-       | currently coordinates the Austrian FWF Research Group on Human-Centered Interactive Adaptive Visual approaches 
    //-       | in High-Quality Health Information.

