extends partials/site

block content

    section.container

        .row.justify-content-center
            .col-custom.col-padding

                +h2('Panel')

                h3 AIGC for visual communication
                p Visual communication is an integral part of the ever-evolving world of technology and design. As we continue to push the boundaries of human-computer interaction, Artificial Intelligence (AI) has emerged as a game-changer in the field of visual communication. To unlock the full potential of this technology, we are proud to introduce the Artificial Intelligence in Graphics and Communication (AIGC) panel, bringing together an esteemed group of international experts from academia and industry. The panel aims to explore how AI can shape the future of visual communication and foster collaboration among professionals from different disciplines.

        .row.justify-content-center
            .col-custom.col-padding

                +h2('Panel Guests')
                //- dt TBA
                //- p 
                //-   |More information will follow in the coming days and weeks.
                h3 Prof. Dr. Baoquan Chen
                p
                    | Peking University
                img(src = require('./img/photos/cbq.jpg') alt = 'Baoquan Chen').keynote-portrait

                //- h3 Biography

                p
                    | A renowned expert in computer graphics and visualization, Prof. Chen's research focuses on data-driven urban modeling, virtual reality, and human-computer interaction. With a strong passion for combining art and technology, he can provide valuable insights on the role of AI in visual communication.
                p 
                    | Baoquan Chen presides several key projects of the National Natural Science Foundation, and has served as a PC member of almost all important international conferences in the field of computer graphics and visualization for many times.

        .row.justify-content-center
            .col-custom.col-padding
                h3 Prof. Dr. Nan Cao
                p
                    | Tongji University
                img(src = require('./img/photos/caonan.jpeg') alt = 'Nan Cao').keynote-portrait

                //- h3 Biography

                p
                    | As a leading expert in data visualization and visual analytics, Prof. Cao's work is centered on the intersection of human cognition, design, and computing. His expertise in creating intuitive and interactive visualizations will shed light on how AI can enhance the user experience in visual communication.
                p 
                    | Nan Cao is the founding director of AI & Data design program and intelligent big data visualization lab at Tongji University.

        .row.justify-content-center
            .col-custom.col-padding
                
                h3 Prof. Dr. Doris Kosminsky
                p
                    |  Universidade Federal do Rio de Janeiro, Rio de Janeiro, Brazil.
                
                img(src = require('./img/photos/DK22-low.png') alt = 'Doris Kosminsky').keynote-portrait

                p With a rich background in design research and education, Prof. Kosminsky has made significant contributions to the understanding of the role of visual communication in complex social contexts. Her knowledge of cultural and social factors influencing visual communication will provide a unique perspective on AI's role in shaping the global visual language.
                p Doris Kosminsky has practical and research experience in data visualization, information design, TV graphics, interactivity and animation, social construction of visuality, and data in visual art.
                



        .row.justify-content-center
            .col-custom.col-padding
                h3 Prof. Dr. David Yip
                p
                    |  Hong Kong University of Science and Technology (Guangzhou)
                
                img(src = require('./img/photos/davidyip.jpeg') alt = 'David Yip').keynote-portrait

                p Specializing in cinematic art of storytelling, media and virtual production, Prof. Yip has extensive experience in both academia and industry. His deep understanding of the challenges and opportunities in the field of visual communication will provide valuable insights on how AI can propel innovation in the industry.
                p David is currently a member of the Entertainment Industry Advisory Committee of the HK Trade Development Council, external advisor/ examiner of local universities and higher education.


        .row.justify-content-center
            .col-custom.col-padding
                h3 Prof. Haijie Hu 
                p
                    |  VAVE CEO, Professor of practice at the Hong Kong University of Science and Technology (Guangzhou)
                
                img(src = require('./img/photos/huhaijie.jpeg') alt = 'Haijie Hu').keynote-portrait
                p Haijie HU is an interdisciplinary leading designer, a pioneer, a thinker and a practitioner in the field of multi-dimensional space experience, with expertise in narrative space, mixed reality and hidden technology. He is the co-founder of space experience firm VAVE STUDIO. He brings firsthand experience in leveraging AI technology to create innovative visual solutions. His insights on the practical application of AI in visual communication will inspire new possibilities for the industry.

        .row.justify-content-center
            .col-custom.col-padding

                +h2('Panel Moderator') 

                h3 Prof. Dr. Zeyu Wang
                p
                    |  Hong Kong University of Science and Technology (Guangzhou)
                    //- br
                    //- | #[a(href = 'https://ppgd.eba.ufrj.br/en/docente/974/') Find out more about Doris Kosminsky.]

                
                img(src = require('./img/photos/wangzeyu.jpeg') alt = 'Doris Kosminsky').keynote-portrait

                //- h3 Biography

                p
                    | Zeyu Wang is an Assistant Professor in the Thrusts of Computational Media and Arts (CMA) and AI of the Information Hub at the Hong Kong University of Science and Technology (Guangzhou) and an Affiliate Assistant Professor in the Department of Computer Science and Engineering at the Hong Kong University of Science and Technology. He received a PhD from the Department of Computer Science at Yale University and a BS from the School of Artificial Intelligence at Peking University.
                p He leads the Creative Intelligence and Synergy (CIS) Lab at HKUST(GZ) to study the intersection of Computer Graphics, Human-Computer Interaction, and Artificial Intelligence, with a focus on algorithms and systems for digital content creation. His current research topics include sketching, VR/AR/XR, generative techniques, and multimodal creativity, with applications in art, design, perception, and cultural heritage. His work has been recognized by a CCF-Tencent Fellowship, an Adobe Research Fellowship, a Franke Interdisciplinary Research Fellowship, a Best Paper Award, and a Best Demo Honorable Mention Award.
