extends partials/site

block content

    section.container

        .row.justify-content-center
            .col-custom.col-padding


                +h2('Program')
                //- dt TBA
                p 
                //-   | More information will follow in the coming days and weeks.
                //-   | All presentations will take place virtually, using the event system Hopin (#[a(href="https://hopin.com/events/vinci-21") visit the event]).
                    | Prelimary program. All times are given in CEST.

                ul.list
                    //- li.list-item #[a(href="program.html#day01") September 22, 2023 / Day 1 / Friday]
                    //- li.list-item #[a(href="program.html#day02") September 23, 2023 / Day 2 / Saturday]
                    //- li.list-item #[a(href="program.html#day03") September 24, 2023 / Day 3 / Sunday]
                    li.list-item #[ All times are given in China (UTC+8).]
                    li.list-item #[ Keynote/Tech./Panel - Lecture Hall C.]
                    li.list-item #[ Art - E1-101.]
                    li.list-item #[ Exhibition tour - CMA Lab (E2, 3rd Floor).]

                test

                    .col-lg-10.col-11.mt-4
                        table.table.table-sm.text-end.table-borderless.align-middle.table-hover
                            thead
                                tr.text-center.text-muted
                                    th(scope = 'col').border-end.border-dark
                                    th(scope = 'col' colspan = '1').border.border-bottom-0.border-dark Time
                                    //- th(scope = 'col' colspan = '1').border.border-bottom-0.border-dark Registration category
                                    //- th(scope = 'col' colspan = '1').border.border-bottom-0.border-dark Regular
                                    //- th(scope = 'col' colspan = '1').border.border-bottom-0.border-dark Student
                                    th(scope = 'col' colspan = '1').border.border-bottom-0.border-dark #[a(href="program.html#day01" style="color: black;") Friday 22]
                                    th(scope = 'col' colspan = '2').border.border-bottom-0.border-dark #[a(href="program.html#day02" style="color: black;") Saturday 23]
                                    th(scope = 'col' colspan = '2').border.border-bottom-0.border-dark #[a(href="program.html#day03" style="color: black;") Sunday 24]

                            //- thead
                            //-   tr
                            //- td.border-end.border-dark
                            //- td.border.border-top-0.border-dark.pe-4 Non-ACM
                            //- td.border.border-top-0.border-dark.pe-4 Non-ACM
                            //- td.border.border-top-0.border-dark.pe-4 ACM
                            //- td.border.border-top-0.border-dark.pe-4 Non-ACM
                            //- td.border.border-top-0.border-dark.pe-4 ACM
                            tbody
                                //- tr.text-center.border-bottom.border-dark
                                //-     //- td(scope = 'row').text-start #[ Extra Social Event**]
                                //-     td(colspan = '3').border.border-dark.pe-4 #[ FULL PROGRAM]
                                tr.text-center.border-bottom.border-dark
                                    td(scope = 'row' rowspan='4').border-end.border-dark.border #[ Morning ]
                                    td.border-end.pe-4.border-dark.border #[ 8:30 ]
                                    td(rowspan='7').border-end.pe-4.border-dark.border #[ Reception]
                                    td(colspan='2').border-end.pe-4.border-dark.border #[ Opening]
                                    td(colspan='2').border-end.pe-4.border-dark.border
                                tr.text-center.border-bottom.border-dark
                                    //- td(scope = 'row' rowspan='4').border-end.border-dark.border #[ Morning ]
                                    td.border-end.pe-4.border-dark.border #[ 9:00 ]
                                    //- td(rowspan='10').border-end.pe-4.border-dark.border #[ Reception]
                                    td(colspan='2' style="background-color: #AFDAF2;").border-end.pe-4.border-dark.border #[a(href="program.html#k1" style="color: black;") Keynote 1]
                                    td(colspan='2' style="background-color: #AFDAF2;").border-end.pe-4.border-dark.border #[a(href="program.html#k3" style="color: black;") Keynote 3]
                                tr.text-center.border-bottom.border-dark
                                    //- td(scope = 'row' rowspan='4').border-end.border-dark.border #[ Morning ]
                                    td.border-end.pe-4.border-dark.border #[ 10:00 ]
                                    //- td(rowspan='10').border-end.pe-4.border-dark.border #[ Reception]
                                    td(colspan='4').border-end.pe-4.border-dark.border #[ Coffee Break]
                                tr.text-center.border-bottom.border-dark
                                    td.border-end.pe-4.border-dark.border #[ 10:20 ]
                                    td(colspan='1' style="background-color: #FCE4D6").border-end.pe-4.border-dark.border #[a(href="program.html#t1" style="color: black;") Tech. S1]
                                    td(colspan='1' style="background-color: #DFDDED").border-end.pe-4.border-dark.border #[a(href="program.html#a1" style="color: black;") Art S1]
                                    td(colspan='1' style="background-color: #FCE4D6").border-end.pe-4.border-dark.border #[a(href="program.html#t3" style="color: black;") Tech. S3]
                                    td(colspan='1' style="background-color: #DFDDED").border-end.pe-4.border-dark.border #[a(href="program.html#a3" style="color: black;") Art S3]
                                tr.text-center.border-bottom.border-dark
                                    td(scope = 'row' rowspan='1').border-end.border-dark.border #[ Midday ]
                                    td.border-end.pe-4.border-dark.border #[ 11:50 ]
                                    td(colspan='4').border-end.pe-4.border-dark.border #[ Lunch]
                                tr.text-center.border-bottom.border-dark
                                    td(scope = 'row' rowspan='4').border-end.border-dark.border #[ Afternoon ]
                                    td.border-end.pe-4.border-dark.border #[ 13:30 ]
                                    td(colspan='2' style="background-color: #AFDAF2;").border-end.pe-4.border-dark.border #[a(href="program.html#k2" style="color: black;") Keynote 2]
                                    td(colspan='1' style="background-color: #FCE4D6").border-end.pe-4.border-dark.border #[a(href="program.html#t4" style="color: black;") Tech. S4]
                                    td(colspan='1' style="background-color: #FCE4D6").border-end.pe-4.border-dark.border #[a(href="program.html#t5" style="color: black;") Tech. S5]
                                tr.text-center.border-bottom.border-dark
                                    //- td(scope = 'row' rowspan='4').border-end.border-dark.border #[ Morning ]
                                    td.border-end.pe-4.border-dark.border #[ 14:30 ]
                                    //- td(rowspan='10').border-end.pe-4.border-dark.border #[ Reception]
                                    td(colspan='4').border-end.pe-4.border-dark.border #[ Coffee Break]
                                tr.text-center.border-bottom.border-dark
                                    td.border-end.pe-4.border-dark.border #[ 14:50 ]
                                    td(rowspan='2').border-end.pe-4.border-dark.border #[ Panel]
                                    td(colspan='1' style="background-color: #FCE4D6").border-end.pe-4.border-dark.border #[a(href="program.html#t2" style="color: black;") Tech. S2]
                                    td(colspan='1' style="background-color: #DFDDED").border-end.pe-4.border-dark.border #[a(href="program.html#a2" style="color: black;") Art S2]
                                    td(colspan='1' style="background-color: #FCE4D6").border-end.pe-4.border-dark.border #[a(href="program.html#t6" style="color: black;") Tech. S6]
                                    td(colspan='1' style="background-color: #FCE4D6").border-end.pe-4.border-dark.border #[a(href="program.html#t7" style="color: black;") Tech. S7]
                                tr.text-center.border-bottom.border-dark
                                    //- td(scope = 'row' rowspan='4').border-end.border-dark.border #[ Morning ]
                                    td.border-end.pe-4.border-dark.border #[ 16:20 ]
                                    //- td(rowspan='10').border-end.pe-4.border-dark.border #[ Reception]
                                    td(colspan='2').border-end.pe-4.border-dark.border #[ Exhibition tour]
                                    td(colspan='2').border-end.pe-4.border-dark.border #[ Closing]
                                tr.text-center.border-bottom.border-dark
                                    td(scope = 'row' rowspan='4').border-end.border-dark.border #[ Evening ]
                                    td.border-end.pe-4.border-dark.border #[ 18:30 ]
                                    td(rowspan='1').border-end.pe-4.border-dark.border
                                    td(colspan='2').border-end.pe-4.border-dark.border #[ Banquet]
                                    td(colspan='2').border-end.pe-4.border-dark.border


                table.table.table-borderless.align-top.table-program
                    thead
                        tr.border-bottom.border-dark
                            th(scope = 'col' colspan = '1') #[.fw-light Time]
                            th(scope = 'col' colspan = '1') #[a(name = 'day01') Friday / September 22, 2023 / Day One]
                    tbody
                        tr.text-muted
                            td(rowspan='1') 8:30-16:50
                            td Reception

                        tr.text-muted
                            td(rowspan='1') 15:00-17:00
                            td Panel


                table.table.table-borderless.align-top.table-program
                    thead
                        tr.border-bottom.border-dark
                            th(scope = 'col' colspan = '1') #[.fw-light Time]
                            th(scope = 'col' colspan = '1') #[a(name = 'day02') Saturday / September 23, 2023 / Day Two]
                    tbody
                        //- tr.text-muted
                        //-     td 08:00
                        //-     td Registration Opens
                        tr
                            td 08:30-9:00
                            td #[strong Opening of VINCI 2023]
                        //- tr 
                        //-     td
                        tr(style="border-left: 7px solid #AFDAF2")
                            td(rowspan = '2') #[a(name='k1') 09:00-10:00]
                            td.d-flex #[strong Keynote Talk 1]
                                small.ms-auto Lecture Hall C
                                //- small.ms-auto Session Chair: Michael Burch
                        tr(style="border-left: 7px solid #AFDAF2")
                            td 
                                span(style="background:#AFDAF2; padding: 3px; border-radius: 5px; margin-right: 5px;") KN
                                span Visual Communication: Tools, Domain Motivation, and Citizen Responsibility  <br>
                                small Prof. Dr. Baoquan Chen
                        tr.text-muted
                            td 10:00-10:20
                            td Coffee Break
                        tr(style="border-left: 7px solid #FCE4D6")
                            td(rowspan = '2') #[a(name = 't1') 10:20-11:50]
                            td
                                span.d-flex #[strong Tech. Paper Session 1: Visual Communication]
                                    small.ms-auto Lecture Hall C
                                small.ms-auto Session Chair: Lingyun Yu
                        tr(style="border-left: 7px solid #FCE4D6") 
                            td
                                //- small Session Chair: Lingyun Yu
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span The Landscape of Visual Information Communication and Interaction Research 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Gonzalo Gabriel Méndez, Oscar Moreno and Patricio Mendoza
                                        
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Storytelling in Frozen Frontier: Exploring Graphic-Based Approach for Creating Interactive Story Maps in Antarctica 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Liangwei Wang, Zhan Wang, Xi Zhao and Wei Zeng
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span EmotionVis: Affective Visualization with Physical Devices 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Xinyi Huang, Yu Liu and Lingyun Yu
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span FitYou: A Personalized Dashboard for Health Data 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Michael Burch, Alexander van Schie, Giada Zacheo, Amina Buzimkic, Andreas la Roi and Yves Staudt
                        tr 
                            td
                        tr(style="border-left: 7px solid #DFDDED;")
                            td(rowspan = '2') #[a(name = 'a1') 10:20-11:50]
                            td
                                span.d-flex #[strong Art Paper Session 1: Cultural Heritage and Soft Datafication]
                                    small.ms-auto E1-101
                                small.ms-auto Session Chair: Rual Masu
                        tr(style="border-left: 7px solid #DFDDED")
                            td
                                //- small Session Chair: Rual Masu
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Naturality: A Natural Reflection of Chinese Calligraphy 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Bingyuan Wang, Kang Zhang and Zeyu Wang
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span A Study of the Fractal Design of Decorative Patterns in Chaoshan Drawnwork: An Illustration of the Julia Set 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Jiajun Chen and Ya Zhang
                                    //- li.pb-1 
                                    //-     span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                    //-     span Datafication textile skins, visual and digital image from ubiquitous and situated interaction <br>
                                    //-     small Maria Jose Rios Araya and Ricardo Vega Mora
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Calligraphy to Image 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Haichuan Lin
                        

                        tr.text-muted
                            td 11:50-13:30
                            td Lunch Break
                        tr(style="border-left: 7px solid #AFDAF2")
                            td(rowspan = '2') #[a(name = 'k2') 13:30-14:30]
                            td.d-flex #[strong Keynote Talk 2]
                                small.ms-auto Lecture Hall C
                                //- small.ms-auto Session Chair: Sabrina Lindau
                        tr(style="border-left: 7px solid #AFDAF2")
                            td 
                                span(style="background:#AFDAF2; padding: 3px; border-radius: 5px; margin-right: 5px;") KN
                                span AI for Good: using a social humanoid robot to improve quality of life 
                                <br>
                                small Prof. Dr. Nadia Magnenat Thalmann

                        tr.text-muted
                            td 14:30-14:50
                            td Coffee Break
                        tr(style="border-left: 7px solid #FCE4D6") 
                            td(rowspan = '2') #[a(name = 't2') 14:50-16:20]
                            td
                                span.d-flex #[strong Tech. Paper Session 2: Visual Analytics]
                                    small.ms-auto Lecture Hall C
                                small.ms-auto Session Chair: Chongke Bi
                        tr(style="border-left: 7px solid #FCE4D6") 
                            td
                                //- small Session Chair: Chongke Bi
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Visual Analysis of Air Pollutant Propagation Path and Pollution Source 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Yan Hao, Chongke Bi, Lu Yang, Xiaobin Qiu, Yunlong Li and Ce Yu
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Does Where You are Matter? A Visual Analytics System for COVID-19 Transmission Based on Social Hierarchical Perspective 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Jianing Hao, Xibin Jiang, Qing Shi and Wei Zeng
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span A Visual Analytic System for Ranking Multi-attribute Data Using Multi-level Pareto Frontier 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Sihan Pan and Jun Tao
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Metaphor Design of Dockless Bike-sharing Based on Spatio-temporal Geographic Data 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Kelin Li, Hong Yin, Dong Li, Kang Zhang and Changbo Wang
                                        
                        
                        tr 
                            td
                        
                        tr(style="border-left: 7px solid #DFDDED;")
                            td(rowspan = '2') #[a(name = 'a2') 14:50-16:20]
                            td
                                span.d-flex #[strong Art Paper Session 2: Art Museums and Audience Interaction]
                                    small.ms-auto E1-101
                                small.ms-auto Session Chair: Varvara Guljajeva
                        tr(style="border-left: 7px solid #DFDDED")
                            td
                                //- small Session Chair: Varvara Guljajeva
                                ul.px-0
                                    //- li.pb-1 
                                    //-     span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                    //-     span  <br>
                                    //-     small 
                                    //- li.pb-1 
                                    //-     span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                    //-     span  <br>
                                    //-     small 
                                    //- li.pb-1 
                                    //-     span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                    //-     span  <br>
                                    //-     small 
                                    //- li.pb-1 
                                    //-     span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                    //-     span  <br>
                                    //-     small 
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Visual exploration of color usage in Vincent van Gogh’s Paintings 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Xinyi Ding, Yejuan Xie, Jielin Jing, Fei Du and Chengtao Ji
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Quantifying Collection Lag in European Modern and Contemporary Art Museums 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Mar Canet Sola, Antonina Korepanova, Ksenia Mukhina and Maximilian Schich
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span The Viewer as a Source of the Artwork 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Raivo Kelomees
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span MOONMENT: Designing Gesture-based Interaction with Acousto-Optic Feedbacks 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Jiayi Yao and Liang Tan

                        tr.text-muted
                            td 16:20-16:50
                            td.d-flex Exhibition tour
                                small.ms-auto CMA Lab (E2, 3rd Floor)
                        

                        tr.text-muted
                            td Evening
                            td Banquet

                table.table.table-borderless.align-top.table-program
                    thead
                        tr.border-bottom.border-dark
                            th(scope = 'col' colspan = '1') #[.fw-light Time]
                            th(scope = 'col' colspan = '1') #[a(name = 'day03') Sunday / September 24, 2023 / Day Three]
                    tbody
                        tr
                            td
                        tr(style="border-left: 7px solid #AFDAF2")
                            td(rowspan = '2') #[a(name = 'k3') 09:00-10:00]
                            td 
                                span.d-flex #[strong Keynote Talk 3]
                                    small.ms-auto Lecture Hall C
                                //- small Session Chair: Michael Burch
                        tr(style="border-left: 7px solid #AFDAF2")
                            td 
                                span(style="background:#AFDAF2; padding: 3px; border-radius: 5px; margin-right: 5px;") KN
                                span Transdisciplinary experiences in Data Visualization and beyond <br>
                                small Prof. Dr. Doris Kosminsky
                        tr.text-muted
                            td 10:00-10:20
                            td Coffee Break
                        tr(style="border-left: 7px solid #FCE4D6")  
                            td(rowspan = '2') #[a(name = 't3') 10:20-11:50]
                            td
                                span.d-flex #[strong Tech. Paper Session 3: Perception and Design]
                                    small.ms-auto Lecture Hall C
                                small.ms-auto Session Chair: Rongrong Chen
                        tr(style="border-left: 7px solid #FCE4D6")  
                            td
                                //- small Session Chair: Rongrong Chen
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Kandinsky’s Color-Shape Associations in Chinese Context: Do Personality and Affect Matter? 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Zixu Gong, Kang Zhang and Rongrong Chen
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Individual Visual Working Memory Capacity Affects Aesthetic Appreciation of Chinese Ink Painting 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Dingning Long, Rongrong Chen
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span An Interactive System Design Based on Biofeedback and Breathing Exercise 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Xueying Wen and Liang Tan
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Visual Analytics of the Effect of Age on the Spatial Learning Capabilities of Sleep-Deprived Drosophila 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Kevin Zhao, Dina Ellsworth and Craig Queenan
                        tr
                            td
                        
                        tr(style="border-left: 7px solid #DFDDED")
                            td(rowspan = '2') #[a(name = 'a3') 10:20-11:50]
                            td
                                span.d-flex #[strong Art Paper Session 3: Extended Cinema]
                                    small.ms-auto E1-101
                                small.ms-auto Session Chair: Zeyu Wang
                        tr(style="border-left: 7px solid #DFDDED")
                            td
                                //- small Session Chair: Zeyu Wang
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Urban Symphony: An AI and Data-Driven Approach to Real-Time Animation for Public Digital Art 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Rungu Lin, Yongen Ke and Kang Zhang
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Simonstown: An AI-facilitated Interactive Story of Love, Life, and Pandemic 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Bingyuan Wang, Pinxi Zhu, Hao Li, David Kei-Man Yip and Zeyu Wang
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Anticipating 2020s: Deep Learning Methods for Generating Videos from Found Footage Toward a Database Aesthetic 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Amalia Foka
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span From Expanded Cinema to Extended Reality: How AI Can Expand and Extend Cinematic Experiences 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Junrong Song, Bingyuan Wang, Zeyu Wang and David Kei-Man Yip
                        

                        tr.text-muted
                            td 11:50-13:30
                            td Lunch Break
                        
                        tr(style="border-left: 7px solid #FCE4D6")
                            td(rowspan = '2') #[a(name = 't4') 13:30-14:30]
                            td
                                span.d-flex #[strong Tech. Paper Session 4: Extended Reality]
                                    small.ms-auto Lecture Hall C
                                small Session Chair: Qian Zhu
                        tr(style="border-left: 7px solid #FCE4D6")
                            td
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Development of an immersive simulator for improving student chemistry learning efficiency 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Shan Jin, Yuyang Wang, Lik-Hang Lee, Xinyi Luo and Pan Hui
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span PMM: A Smart Shopping Guider Based on Mobile AR 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Jiahao Han, Zhifei Ding, Yuxuan Chen, Lingxin Yu, Siru Chen and Richen Liu
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Work vs. Leisure – Differences in Avatar Characteristics Depending on Social Situations 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Natalie Hube, Melissa Reinelt, Kresimir Vidackovic and Michael Sedlmair
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span LOOP Meditation: Enhancing Novice's VR Meditation Experience with Physical Movement 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Shihan Fu, Liangliang Qiang and Wei Zeng
                        
                        tr 
                            td
                        
                        tr(style="border-left: 7px solid #FCE4D6")
                            td(rowspan = '2') #[a(name = 't5') 13:30-14:30]
                            td
                                span.d-flex #[strong Tech. Paper Session 5: Finance]
                                    small.ms-auto Lecture Hall C
                                small.ms-auto Session Chair: Chenhui Li
                        tr(style="border-left: 7px solid #FCE4D6")
                            td
                                //- small Session Chair: Chenhui Li
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span NFTeller: Dual-centric Visual Analytics for Assessing Market Performance of NFT Collectibles 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Yifan Cao, Meng Xia, Kento Shigyo, Furui Cheng, Qianhang Yu, Xingxing Yang, Wei Zeng, Yang Wang and Huamin Qu
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Visual Analytics for Phishing Scam Identification in Blockchain Transactions with Multiple Model Comparison 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Jiaqi Dong, Zishu Qin, Zhou Fang, Xuan Chen, Zengfeng Huang, Haoyun Guo, Richen Liu, Cagatay Turkay and Siming Chen
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span BiverWordle: Visualizing Stock Market Sentiment with Financial Text Data and Trends 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Lei Xia, Yi-Ping Gao, Le Lin, Yu-Xi Chen and Kang Zhang
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Explore, Compare, and Predict Investment Opportunities through What-If Analysis: US Housing Market Investigation 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Hongruyu Chen, Fernando Gonzalez, Oto Mraz, Sophia Kuhn, Cristina Guzman and Mennatallah El-Assady

                        tr.text-muted
                            td 14:30-14:50
                            td Coffee Break
                        tr(style="border-left: 7px solid #FCE4D6")
                            td(rowspan = '2') #[a(name = 't6') 14:50-16:20]
                            td
                                span.d-flex #[strong Tech. Paper Session 6: Aesthetics and Art]
                                    small.ms-auto Lecture Hall C
                                small Session Chair: Bin Jiang
                        tr(style="border-left: 7px solid #FCE4D6") 
                            td
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Interplay between Spatial Ability and Visual Complexity in the Aesthetic Appreciation of Landscape Paintings 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Kunlin Jin, Rongrong Chen
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span OdorV-Art: An Initial Exploration of An Olfactory Intervention for Appreciating Style Information of Artworks in Virtual Museum 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Shumeng Zhang, Ziyan Wang, You Zhou, Hao Cui, Shihan Fu, Zeyu Wang and Mingming Fan
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span The Rich, the Poor, and the Ugly: An Aesthetic-Perspective Assessment of NFT Values 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Yihan Chen, Yilin Ye and Wei Zeng
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Collection Space Navigator: An Interactive Visualization Interface for Multidimensional Datasets 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Tillmann Ohm, Mar Canet Sola, Andres Karjus and Maximilian Schich
                        tr
                            td 
                        tr(style="border-left: 7px solid #FCE4D6")
                            td(rowspan = '2') #[a(name = 't7') 14:50-16:20]
                            td 
                                span.d-flex #[strong Tech. Paper Session 7: Machine Learning and Visualization]
                                    small.ms-auto Lecture Hall C 
                                small.ms-auto Session Chair: Jie Li
                        tr(style="border-left: 7px solid #FCE4D6") 
                            td
                                //- small Session Chair: Jie Li
                                ul.px-0
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Visual Analysis of Scene-Graph-Based Visual Question Answering 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Noel Schäfer, Sebastian Künzel, Tanja Munz-Körner, Pascal Tilli, Sandeep Vidyapu, Ngoc Thang Vu and Daniel Weiskopf
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Graph-based Latent Space Traversal for New Molecules Discovery 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Yang Zhang, Jie Li and Chao Xu
                                    li.pb-1 
                                        span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                        span Enhancing Visual Understanding by Removing Dithering with Global and Self-Conditioned Transformation 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Yifei Huang, Chenhui Li, Risheng Liu, Tianyi Liang and Changbo Wang
                                    li.pb-1 
                                        span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP 
                                        span Visual Analysis of DDPG Models by Exploring the Space of Experience 
                                        span 
                                            a(href="") 
                                                img(src = require('./img/file-pdf.png') style='height: 20px')
                                        <br>
                                        small Huixue Wang, Yunzhe Wang, You Lu, Qiming Fu and Jianping Chen

                        tr.text-muted
                            td 16:20-16:50
                            td Closing and VINCI 2024
                        


        .row.justify-content-center
            .col-custom.col-padding

                +h2('Presentation Times')
                p The following presentation times apply to the different paper types:

                .col-lg-10.col-11.mt-4
                    table.table.table-sm.table-borderless.align-middle.table-hover
                        thead
                            tr.text-end
                                th(scope = 'col') 
                                th(scope = 'col') Presentation Time
                                th(scope = 'col') Questions
                        tbody
                            tr.border-bottom.border-muted
                                td 
                                    span(style="background:#FFF6CC; padding: 3px; border-radius: 5px; margin-right: 5px;") FP 
                                    span / Full Paper
                                td.text-end 20 Minutes 
                                td.text-end  5 Minutes
                            tr.border-bottom.border-muted
                                td 
                                    span(style="background:#C8EA9B; padding: 3px; border-radius: 5px; margin-right: 5px;") SP
                                    span / Short Paper
                                td.text-end 15 Minutes 
                                td.text-end  5 Minutes
                            //- tr.border-bottom.border-muted
                            //-     td PP / Poster Paper
                            //-     td.text-end 10 Minutes 
                            //-     td.text-end 5 Minutes
                            tr.border-muted
                                td 
                                    span(style="background:#AFDAF2; padding: 3px; border-radius: 5px; margin-right: 5px;") KN
                                    span / Keynote
                                td.text-end 45 Minutes
                                td.text-end 15 Minutes


